<div style="width: 100%">

  <!-- close Button-->
  <div class="text-end">
    <mat-icon (click)="closeDialog()" class="icon-warn action" [matTooltip]="'cancel'| translate">cancel</mat-icon>
  </div>
  <!-- // close Button-->

  <!-- Main -->
  <div>

    <div>
      <c-row>
        <c-col xs="12">
          <c-card style="border: none">
            <c-card-body>

              <div class="text-center">
                <h3 class="head">SUCCESS !</h3>
                <p class="mt-5 mb-5">Your password is successfully reset.</p>
              </div>

            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </div>

  </div>

</div>
