<c-row ngPreserveWhitespaces>

  <c-col>
    <c-card>

      <!--header-->
      <c-card-header class="table-header">
        <strong>{{'appUserTitle' | translate}}</strong>
        <button id="add-btn" class="item-right custom-btn btn-theme" (click)="openAddDialog(false)" size="sm"  *ngIf="pagePermission.insert">
          <svg cIcon name="cil-plus"
               cTooltipPlacement="top">
          </svg>
          {{'addNew' | translate}}</button>
      </c-card-header>
      <!-- // header-->

      <!--body-->
      <c-card-body >
        <!--table data-->
        <c-col *ngIf="pagePermission.view">

          <!-- search div-->
          <c-row class="mb-2">
            <c-col lg="3" md="6" xs="12">
              <c-input-group class="has-validation">
                <input cFormControl sizing="sm" type="text" [placeholder]="'search' | translate" (keyup)="applyFilter($event)"/>
                <span cInputGroupText><mat-icon>search</mat-icon></span>
                <c-form-feedback></c-form-feedback>
              </c-input-group>
            </c-col>
          </c-row>
          <!-- // search div-->

          <!-- table div-->
          <div>

            <table mat-table [dataSource]="dataSource" class="customers">

              <!-- slNo -->
              <ng-container matColumnDef="slNo">
                <th *matHeaderCellDef style="width: 56px;">
                  {{'slNo' | translate}}
                </th>
                <td class="text-center" mat-cell *matCellDef="let row; let i=index;">
                  {{i+1}}
                </td>
              </ng-container>

              <!-- name -->
              <ng-container matColumnDef="userName">
                <th *matHeaderCellDef>
                  {{'userName' | translate}}
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.username }}
                </td>
              </ng-container>

              <!-- password policy -->
              <ng-container matColumnDef="passwordPolicy">
                <th *matHeaderCellDef>
                  {{'passwordPolicy' | translate}}
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.passwordPolicyName }}
                </td>
              </ng-container>

              <!-- displayName -->
              <ng-container matColumnDef="displayName">
                <th *matHeaderCellDef>
                  {{'displayName' | translate}}
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.displayName}}
                </td>
              </ng-container>

              <!-- email -->
              <ng-container matColumnDef="email">
                <th *matHeaderCellDef>
                  {{'email' | translate}}
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.email}}
                </td>
              </ng-container>

              <!-- mobile -->
              <ng-container matColumnDef="empPersonalInfoName">
                <th *matHeaderCellDef>
                  {{'empPersonalInfoName' | translate}}
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.empPersonalInfoName}}
                </td>
              </ng-container>

              <!-- status -->
              <ng-container matColumnDef="status">
                <th *matHeaderCellDef>
                  {{'status' | translate}}
                </th>
                <td mat-cell *matCellDef="let row" style="text-align: center;">
                  <input cFormCheckInput type="checkbox" sizing="sm" [(ngModel)]="row.active"/>
                </td>
              </ng-container>

              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th *matHeaderCellDef>
                  {{'action' | translate}}
                </th>

                <td mat-cell *matCellDef="let row" class="text-center">
                  <div class="buttons">

                    <span class="action" (click)="saveValue(row)" [matTooltip]="'save'| translate">
                      <svg cIcon class="me-2 icon-theme" name="cil-save"
                           cTooltipPlacement="top" cTooltip="Edit">
                      </svg>
                    </span>

                    <span class="action" (click)="openAddDialog(true, row)" [matTooltip]="'edit'| translate" *ngIf="pagePermission.edit">
                      <svg cIcon class="me-2 icon-theme" name="cil-pencil"
                           cTooltipPlacement="top" cTooltip="Edit">
                      </svg>
                    </span>
                    <span class="action" (click)="openDeleteDialog(row)" [matTooltip]="'delete'| translate" *ngIf="pagePermission.delete">
                       <svg cIcon class="me-2 icon-warn" name="cil-trash"
                            cTooltipPlacement="top" cTooltip="Delete">
                       </svg>
                    </span>
                  </div>
                </td>
              </ng-container>
              <!-- Table Action Buttons End-->

              <!--bind with ts-->
              <tr mat-header-row
                  *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row class="table-row"
                  *matRowDef="let row; columns: displayedColumns"></tr>
              <!-- // bind with ts-->

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="6">
                  {{'noDataFound' | translate}}
                </td>
              </tr>
            </table>
          </div>
          <!-- // table div-->

          <!-- pagination -->
          <mat-paginator [length]="total" [pageSize]="size"
                         [pageSizeOptions]="this.paginationArray"
                         (page)="onChangePage($event)"></mat-paginator>

          <!-- // pagination-->
        </c-col>
        <!-- // table data-->
      </c-card-body>
      <!--body-->

    </c-card>

  </c-col>

</c-row>


