
.matSelect{
    line-height: 25px;
    border-radius: 5px;
    border-style: solid;
    border-color: #94A3B8;
    border-width: 0.8px;
}

.readonly-wrapper {
  cursor: not-allowed;
}

.readonly-wrapper .readonly-block {
  pointer-events: none;
}
