<div style="width: 100%">

  <!-- close Button-->
  <div  class="text-end">
    <mat-icon (click)="closeDialog()" class="icon-warn action" [matTooltip]="'cancel'| translate">cancel</mat-icon>
  </div>
  <!-- // close Button-->

  <!-- Main -->
  <div>

    <div *ngIf="frmGroup">
      <c-row>
        <c-col xs="12">
          <c-card class="mb-4">
            <!--header-->
            <c-card-header>
              <strong >{{'title' | translate}}</strong>
            </c-card-header>
            <!-- // header-->

            <c-card-body>
              <form cForm [formGroup]="frmGroup">
                <!--form row-->
                <c-row>

                  <c-col lg="4" md="6" xs="12" class="mb-2">
                    <label cLabel>
                      {{'name' | translate}}
                      <strong class="icon-warn">*</strong>
                    </label>
                    <input  cFormControl sizing="sm" type="text" formControlName="name"/>
                    <addies-error [formGroup]="frmGroup" controlName="name"></addies-error>
                  </c-col>

                  <c-col lg="4" md="6" xs="12" class="mb-2">
                    <label cLabel>
                      {{'minLength' | translate}}
                      <strong class="icon-warn">*</strong>
                    </label>
                    <input  cFormControl sizing="sm" type="number" [placeholder]="'character' | translate"
                            min="0"  oninput="validity.valid||(value='.');" formControlName="minLength"/>
                    <addies-error [formGroup]="frmGroup" controlName="minLength"></addies-error>
                  </c-col>

                  <c-col lg="4" md="6" xs="12" class="mb-2">
                    <label cLabel>
                      {{'passwordAge' | translate}} ({{'month' | translate}})
                      <strong class="icon-warn">*</strong>

                    </label>
                    <input  cFormControl sizing="sm" type="number" [placeholder]="'month' | translate"
                            min="0"  oninput="validity.valid||(value='.');" formControlName="passwordAge"/>
                    <addies-error [formGroup]="frmGroup" controlName="passwordAge"></addies-error>
                  </c-col>

                </c-row>

                <c-row class="mt-2">

                  <c-col lg="12" md="12" xs="6">

                    <div class="form-check form-check-inline">
                      <c-form-check>
                        <input class="theme-color" cFormCheckInput  type="checkbox" formControlName="sequential"/>
                        <label cFormCheckLabel>
                          {{'sequential' | translate}}
                        </label>
                      </c-form-check>
                    </div>

                    <div class="form-check form-check-inline">
                      <c-form-check>
                        <input class="theme-color" cFormCheckInput  type="checkbox" formControlName="specialChar"/>
                        <label cFormCheckLabel>
                          {{'specialChar' | translate}}
                        </label>
                      </c-form-check>
                    </div>

                    <div class="form-check form-check-inline">
                      <c-form-check>
                        <input class="theme-color" cFormCheckInput  type="checkbox" formControlName="alphanumeric"/>
                        <label cFormCheckLabel>
                          {{'alphanumeric' | translate}}
                        </label>
                      </c-form-check>
                    </div>

                    <div class="form-check form-check-inline">
                      <c-form-check>
                        <input class="theme-color" cFormCheckInput  type="checkbox" formControlName="upperLower"/>
                        <label cFormCheckLabel>
                          {{'upperLower' | translate}}
                        </label>
                      </c-form-check>
                    </div>

                    <div class="form-check form-check-inline">
                      <c-form-check>
                        <input class="theme-color" cFormCheckInput  type="checkbox" formControlName="matchUsername"/>
                        <label cFormCheckLabel>
                          {{'matchUserName' | translate}}
                        </label>
                      </c-form-check>
                    </div>
                  </c-col>

                </c-row>
                <!-- // form row-->
                <br/>
                <!-- button row-->
                <c-row class="text-end">
                  <c-col xs="12">
                    <button class="custom-btn btn-default me-2 mb-2" (click)="clearFormData()" size="sm">
                      <svg cIcon  name="cil-clear-all"></svg>
                      {{'reset' | translate}}
                    </button>
                    <button  class="custom-btn btn-theme" (click)="onSave()" *ngIf="!isEdit" size="sm"
                             [disabled]="!frmGroup.valid || isLoading">
                      <svg cIcon class="me-2" name="cil-save" *ngIf="!isLoading"></svg>
                      <c-spinner aria-hidden="true" size="sm" *ngIf="isLoading"></c-spinner>
                      {{'save' | translate}}
                    </button>
                    <button  class="custom-btn btn-theme" (click)="onUpdate()" *ngIf="isEdit" size="sm"
                             [disabled]="!frmGroup.valid || isLoading">
                      <svg cIcon class="me-2" name="cil-pencil" *ngIf="!isLoading"></svg>
                      <c-spinner aria-hidden="true" size="sm" *ngIf="isLoading"></c-spinner>
                      {{'update' | translate}}
                    </button>
                  </c-col>
                </c-row>
                <!-- // button row-->

              </form>
            </c-card-body>

          </c-card>
        </c-col>
      </c-row>
    </div>

  </div>

</div>
