.head{
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  margin-top: 47px;
}

//password show-hide

.pass-control{
  width: 100% !important;
  border-right: 5px;
}

.hide {
  display: none;
}
.inner-addon {
  position: relative;
}
.inner-addon .far, .inner-addon .fas {
  position: absolute;
  padding: 13px 10px;
  z-index: 100;
  cursor: pointer;
}
.left-addon .far, .left-addon .fas  { left:  0px; }
.right-addon .far, .right-addon .fas { right: 0px; }

.left-addon input  { padding-left:  0px; }
.right-addon input { padding-right: 0px; }
