<div style="width: 100%">

  <!-- close Button-->
  <div  class="text-end">
    <mat-icon (click)="closeDialog()" class="icon-warn action" [matTooltip]="'cancel'| translate">cancel</mat-icon>
  </div>
  <!-- // close Button-->

  <!-- Main -->
  <div>

    <div>
      <c-row>
        <c-col xs="12">
          <c-card style="border: none">
            <!--header-->
            <!--<c-card-header>
              <strong>Terms & Conditions</strong>
            </c-card-header>-->
            <!-- // header-->

            <c-card-body>

              <div>
                <h3 class="head">RECOVER PASSWORD</h3>
                <form cForm [formGroup]="frmGroup">
                  <!--form row-->
                  <c-row class="mt-5">

                    <c-col lg="4" md="6" xs="12">
                    </c-col>

                    <c-col lg="4" md="6" xs="12">
                      <div class="form-group inner-addon right-addon">
                        <label class="control-label">New Password
                          <strong class="icon-warn">*</strong>
                        </label>
                        <div class="col-sm-8 mt-2 input-group pass-control" >
                          <input class="form-control" [type]="showNewPassword ? 'text' : 'password'" placeholder="Enter your password" formControlName="newPassword" (input)="checkPassword()"/>
                          <i alt="show" class="far fa-eye eye-show"
                             (click)="showNewPassword = !showNewPassword"
                             [class.hide]="showNewPassword"></i>
                          <i alt="hide" class="far fa-eye-slash eye-hide"
                             (click)="showNewPassword = !showNewPassword"
                             [class.hide]="!showNewPassword"></i>
                        </div>
                          <!--error message-->
                        <addies-error [formGroup]="this.frmGroup" [controlName]="'newPassword'"></addies-error>
                        <div class="icon-warn" *ngIf="passwordPolicy">
                          <span [style.color]="policyColor.minLength">use {{passwordPolicy.minLength}} or more characters</span>
                          <span [style.color]="policyColor.alphanumeric" *ngIf="passwordPolicy.alphanumeric">, &nbsp; mix of letters & numbers</span>
                          <span [style.color]="policyColor.sequential" *ngIf="passwordPolicy.sequential">, &nbsp;avoid sequential ex. 123  abc</span>
                          <span [style.color]="policyColor.specialChar" *ngIf="passwordPolicy.specialChar">, &nbsp;add special char (ex. !@#$%)</span>
                          <span [style.color]="policyColor.upperLower" *ngIf="passwordPolicy.upperLower">, &nbsp;add upper and lower (ex. ABcd)</span>
                        </div>
                      </div>
                      <br>

                      <div class="form-group inner-addon right-addon">
                        <label class="control-label">Confirm Password
                          <strong class="icon-warn">*</strong>
                        </label>
                        <div class="col-sm-8 mt-2 input-group pass-control">
                          <input class="form-control" [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Enter your confirm password" formControlName="confirmPassword"/>
                          <i alt="show" class="far fa-eye eye-show"
                             (click)="showConfirmPassword = !showConfirmPassword"
                             [class.hide]="showConfirmPassword"></i>
                          <i alt="hide" class="far fa-eye-slash eye-hide"
                             (click)="showConfirmPassword = !showConfirmPassword"
                             [class.hide]="!showConfirmPassword"></i>
                        </div>
                        <!--error message-->
                        <addies-error [formGroup]="this.frmGroup" [controlName]="'confirmPassword'"></addies-error>
                      </div>
                    </c-col>

                    <c-col lg="4" md="6" xs="12">
                    </c-col>

                  </c-row>
                  <!-- // form row-->

                </form>
              </div>

            </c-card-body>

            <!-- button row-->
            <c-row class="text-center mb-5">
              <c-col lg="4" md="6" xs="12">
              </c-col>
              <c-col lg="4" md="6" xs="12" style="margin-bottom: 25px;">
                <button  class="custom-btn btn-theme mt-2" style="width: 100%;" (click)="changePassword()" size="sm" [disabled]="!frmGroup.valid || isLoading">
                  <c-spinner aria-hidden="true" size="sm" *ngIf="isLoading"></c-spinner>
                  Change Password
                </button>
              </c-col>
              <c-col lg="4" md="6" xs="12">
              </c-col>
            </c-row>
            <!-- // button row-->

          </c-card>
        </c-col>
      </c-row>
    </div>

  </div>

</div>
