.back{
  color: #DC3545;
}
.forward{
  color: #0DCAF0;
}
.approve{
  color: #198754;
}
.common-notification{
  text-align: center;
  padding: 5px 10px;
 // color: #fff;
  border-radius: 5px;
  border: none;
}
.notify-img{
  color: #198754;
  margin: 0;
 // background-image: linear-gradient(to right, rgba(0, 106, 77, 1), rgba(0, 200, 20, .3));
}
.seen-color{
  color: rgba(60, 75, 100, 0.84);
  font-size: 12px;
}
