<div style="width: 100%">

  <!-- close Button-->
  <div  class="text-end">
    <mat-icon (click)="closeDialog()" class="icon-warn action" [matTooltip]="'cancel'| translate">cancel</mat-icon>
  </div>
  <!-- // close Button-->

  <!-- Main -->
  <div>

    <div *ngIf="frmGroup">
      <c-row>
        <c-col xs="12">
          <c-card class="mb-4">
            <!--header-->
            <c-card-header class="modal-header">
              <strong>{{'title' | translate}}</strong>
            </c-card-header>
            <!-- // header-->

            <c-card-body>
              <form cForm [formGroup]="frmGroup">
                <!--form row-->
                <c-row>

                  <c-col lg="4" md="6" xs="12" class="mb-2">
                    <label cLabel>
                      {{'department' | translate}}
                      <strong class="icon-warn">*</strong>
                    </label>
                    <mat-select-search
                      [formGroup]="frmGroup"
                      [controlName]="'department'"
                      (selectionChange)="getTeamListByDepartment();"
                      [data]="departmentDropdownList">
                    </mat-select-search>
                  </c-col>

                  <c-col lg="4" md="6" xs="12" class="mb-2">
                    <label cLabel>
                      {{'transactionType' | translate}}
                      <strong class="icon-warn">*</strong>
                    </label>
                    <mat-select-search
                      [formGroup]="frmGroup"
                      [controlName]="'transactionType'"
                      [data]="transactionTypeDropdownList">
                    </mat-select-search>
                  </c-col>

                  <!-- module-->
                  <c-col lg="4" md="6" xs="12" class="mb-3" *ngIf="isModuleId == false">
                    <label cLabel>
                      {{'module' | translate}}
                      <strong class="icon-warn">*</strong>
                    </label>
                    <mat-select-search
                      [formGroup]="frmGroup"
                      [controlName]="'module'"
                      [data]="moduleDropdownList">
                    </mat-select-search>
                  </c-col>

                  <!-- serialNo-->
                  <c-col lg="4" md="6" xs="12" class="mb-2">
                    <label cLabel>
                      {{'serialNo' | translate}}
                      <strong class="icon-warn">*</strong>
                    </label>
                    <input  cFormControl sizing="sm" type="number" formControlName="serialNo"/>
                    <addies-error [formGroup]="frmGroup" controlName="serialNo"></addies-error>
                  </c-col>

                  <!-- fromTeam-->
                  <c-col lg="4" md="6" xs="12" class="mb-3">
                    <label cLabel>
                      {{'fromTeam' | translate}}
                      <strong class="icon-warn">*</strong>
                    </label>
                    <mat-select-search
                      [formGroup]="frmGroup"
                      [controlName]="'fromTeam'"
                      (selectionChange)="getFromTeamList();"
                      [data]="approvalTeamDropdownList">
                    </mat-select-search>
                  </c-col>

                  <!-- toTeam-->
                  <c-col lg="4" md="6" xs="12" class="mb-3">
                    <label cLabel>
                      {{'toTeam' | translate}}
                      <strong class="icon-warn">*</strong>
                    </label>
                    <mat-select-search
                      [formGroup]="frmGroup"
                      [controlName]="'toTeam'"
                      [data]="approvalTeamDropdownList"
                      (selectionChange)="getNotifyAppUserList(); ">
                    </mat-select-search>
                  </c-col>

                  <!-- notifyAppUser-->
                  <c-col lg="4" md="6" xs="12" class="mb-3">
                    <label cLabel>
                      {{'notifyAppUser' | translate}}
                      <strong class="icon-warn">*</strong>
                    </label>
                    <mat-select-search
                      [formGroup]="frmGroup"
                      [controlName]="'notifyAppUser'"
                      [data]="appUserDropdownList">
                    </mat-select-search>
                  </c-col>

                  <!-- fromAmount-->
                  <c-col  lg="4" md="6" xs="12" class="mb-2">
                    <label cLabel>
                      {{'fromAmount' | translate}}
<!--                      <strong class="icon-warn">*</strong>-->
                    </label>
                    <input  cFormControl sizing="sm" type="number" formControlName="fromAmount"/>
                    <addies-error [formGroup]="frmGroup" controlName="fromAmount"></addies-error>
                  </c-col>

                  <!-- toAmount-->
                  <c-col  lg="4" md="6" xs="12" class="mb-2">
                    <label cLabel>
                      {{'toAmount' | translate}}
<!--                      <strong class="icon-warn">*</strong>-->
                    </label>
                    <input  cFormControl sizing="sm" type="number" formControlName="toAmount"/>
                    <addies-error [formGroup]="frmGroup" controlName="toAmount"></addies-error>
                  </c-col>
                </c-row>


                  <c-row class="mt-3 text-center">

                    <c-col lg="12" md="12" xs="6">

                      <div class="form-check form-check-inline">
                        <c-form-check>
                          <input class="theme-color" cFormCheckInput  type="checkbox" formControlName="approvalPermission"/>
                          <label cFormCheckLabel>
                            {{'approvalPermission' | translate}}
                          </label>
                        </c-form-check>
                      </div>

                      <div class="form-check form-check-inline">
                        <c-form-check>
                          <input class="theme-color" cFormCheckInput  type="checkbox" formControlName="backPermission"/>
                          <label cFormCheckLabel>
                            {{'backPermission' | translate}}
                          </label>
                        </c-form-check>
                      </div>

                      <div class="form-check form-check-inline">
                        <c-form-check>
                          <input class="theme-color" cFormCheckInput  type="checkbox" formControlName="changePermission"/>
                          <label cFormCheckLabel>
                            {{'changePermission' | translate}}
                          </label>
                        </c-form-check>
                      </div>

                    </c-col>

                  </c-row>


                <!-- // form row-->
                <br/>
                <!-- button row-->
                <c-row class="text-end">
                  <c-col xs="12">
                    <button class="custom-btn btn-default me-2 mb-2" (click)="clearFormData()" size="sm">
                      <svg cIcon  name="cil-clear-all"></svg>
                      {{'reset' | translate}}
                    </button>
                    <button  class="custom-btn btn-theme" (click)="onSave()" *ngIf="!isEdit" size="sm"
                             [disabled]="!frmGroup.valid || isLoading">
                      <svg cIcon class="me-2" name="cil-save" *ngIf="!isLoading"></svg>
                      <c-spinner aria-hidden="true" size="sm" *ngIf="isLoading"></c-spinner>
                      {{'save' | translate}}
                    </button>
                    <button  class="custom-btn btn-theme" (click)="onUpdate()" *ngIf="isEdit" size="sm"
                             [disabled]="!frmGroup.valid || isLoading">
                      <svg cIcon class="me-2" name="cil-pencil" *ngIf="!isLoading"></svg>
                      <c-spinner aria-hidden="true" size="sm" *ngIf="isLoading"></c-spinner>
                      {{'update' | translate}}
                    </button>
                  </c-col>
                </c-row>
                <!-- // button row-->

              </form>
            </c-card-body>

          </c-card>
        </c-col>
      </c-row>
    </div>

  </div>

</div>
