<div style="width: 100%">

  <!-- close Button-->
  <div  class="text-end">
    <mat-icon (click)="closeDialog()" class="icon-warn action" [matTooltip]="'cancel'| translate">cancel</mat-icon>
  </div>
  <!-- // close Button-->

  <!-- Main -->
  <div mat-dialog-content>

    <c-card class="mb-2">
      <!--header-->
      <c-card-header class="modal-header">
        <strong>{{'title' | translate}}</strong>
      </c-card-header>
      <!-- // header-->
          <c-card-body>
            <form cForm [formGroup]="frmGroup">
              <!--form row-->
              <c-row>

                <!-- formDate-->
                <c-col lg="3" md="6" xs="12" class="mb-2">
                  <label cLabel>
                    {{'formDate' | translate}}
                  </label>
                  <strong class="icon-warn">*</strong>
                  <input cFormControl sizing="sm" type="date" formControlName="fromDate" />
                </c-col>

                <!-- toDate-->
                <c-col lg="3" md="6" xs="12" class="mb-2">
                  <label cLabel>
                    {{'toDate' | translate}}
                  </label>
                  <strong class="icon-warn">*</strong>
                  <input cFormControl sizing="sm" type="date" formControlName="toDate" />
                </c-col>


              </c-row>
              <!-- // form row-->

              <br/>

              <!-- button row-->
              <c-row class="text-end">
                <c-col xs="12">
                  <button class="custom-btn btn-default me-2 mb-2" (click)="refresh()" size="sm">
                    <svg cIcon  name="cil-clear-all"></svg>
                    {{'reset' | translate}}
                  </button>

                  <button  class="custom-btn btn-theme" (click)="getLoadListData()" size="sm"
                           [disabled]="!frmGroup.valid || isLoadingLoad" >
                    <svg cIcon class="me-2" name="cil-reload" *ngIf="!isLoadingLoad"></svg>
                    <c-spinner aria-hidden="true" size="sm" *ngIf="isLoadingLoad"></c-spinner>
                    {{'load' | translate}}
                  </button>
                </c-col>
              </c-row>
              <!-- // button row-->
              <br>

            </form>
          </c-card-body>
        </c-card>

    <c-card *ngIf="isShowLoadingData">

      <!--body-->
      <c-card-body>
        <!--table data-->
        <c-col>

          <!-- table div-->
          <div>
            <table mat-table [dataSource]="dataSource">

              <!-- sl -->
              <ng-container matColumnDef="sl">
                <th *matHeaderCellDef>
                  {{'sl' | translate}}
                </th>
                <td mat-cell *matCellDef="let row; let index = index" class="text-center">
                  {{ index + 1 }}
                </td>
              </ng-container>

              <!-- time -->
              <ng-container matColumnDef="time">
                <th *matHeaderCellDef>
                  {{'time' | translate}}
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.entryDate | dateAsAgo}}
                </td>
              </ng-container>

<!--              &lt;!&ndash; module &ndash;&gt;-->
<!--              <ng-container matColumnDef="module">-->
<!--                <th *matHeaderCellDef>-->
<!--                  {{'module' | translate}}-->
<!--                </th>-->
<!--                <td mat-cell *matCellDef="let row">-->
<!--                  {{ row.moduleName}}-->
<!--                </td>-->
<!--              </ng-container>-->

              <!-- transactionType -->
              <ng-container matColumnDef="transactionType">
                <th *matHeaderCellDef>
                  {{'transactionType' | translate}}
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.transactionTypeName }}
                </td>
              </ng-container>

              <!-- fromAppUser -->
              <ng-container matColumnDef="fromAppUser">
                <th *matHeaderCellDef>
                  {{'fromAppUser' | translate}}
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.fromAppUserName}}
                </td>
              </ng-container>

              <!-- transactionDescription -->
              <ng-container matColumnDef="transactionDescription">
                <th *matHeaderCellDef>
                  {{'transactionDescription' | translate}}
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.transactionDescription}}
                </td>
              </ng-container>

              <!-- approvalStatus -->
              <ng-container matColumnDef="status">
                <th *matHeaderCellDef>
                  {{'status' | translate}}
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.approvalStatusName}}
                </td>
              </ng-container>


              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th *matHeaderCellDef>{{'action' | translate}}
                </th>
                <td mat-cell *matCellDef="let row" class="text-center" >
                  <div class="buttons" >
                    <!--monitor button-->
                    <span class="action" (click)="this.approvalSubmitUtils.openApprovalMonitorDialog(row.id)" [matTooltip]="'monitor'| translate"
                          *ngIf="row.id">
                       <svg cIcon class="me-2 icon-theme" name="cil-screen-desktop"
                            cTooltipPlacement="top">
                       </svg>
                    </span>
                    <!--//monitor button-->
                  </div>
                </td>
              </ng-container>

              <!-- Table Action Buttons End-->

              <!--bind with ts-->
              <tr mat-header-row
                  *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row class="table-row"
                  *matRowDef="let row; columns: displayedColumns"></tr>
              <!-- // bind with ts-->

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="12">
                  {{'noDataFound' | translate}}
                </td>
              </tr>
            </table>
          </div>
          <!-- // table div-->

        </c-col>
        <!-- // table data-->
      </c-card-body>
      <!--body-->

    </c-card>

  </div>

</div>
